<div class="navbar navbar-expand-lg navbar-light gradient padding-zero" style="height: 100px;">
  <div class="container-fluid justify-content-between">
    <%= link_to airplanes_path do%>
      <%= image_tag'logo_white.png', style:"height:60px",class:"pl-4"%>
    <% end %>
      <form class="form-inline my-2 my-lg-0 col-5 d-flex justify-content-end" action="/airplanes" >
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query" value="<%= params[:query] %>" STYLE="color: #FFFFFF; font-family: Verdana; font-weight: bold; font-size: 12px; background-color: #6ba8cd;">
        <button class="btn btn-outline-secondary w-25 my-2 my-sm-0" type="submit">Search</button>
        <div class="dropdown my-2 my-sm-0 mx-2">
          <h3 class="my-0 nav-link dropdown-toggle d-flex align-items-center text-white" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="far fa-user-circle text-white"></i>
          </h3>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <% if policy(Airplane).create? %>
              <%= link_to "Add Airplane", new_airplane_path, class:"dropdown-item" %>
            <% else %>
              <%= link_to "My bookings", bookings_path, class:"dropdown-item" %>
            <% end %>
            <div class="dropdown-divider"></div>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class:"dropdown-item" %>
          </div>
        </div>
      </form>
  </div>
</div>
